#include "resource.h"

IDC_DRAGHORIZONTAL   CURSOR   "DragHorizontal.cur"
IDC_DRAGVERTICAL     CURSOR   "DragVertical.cur"

1 VERSIONINFO
FILEVERSION 2,1,1,0
PRODUCTVERSION 2,1,1,0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "000004b0"
		BEGIN
			VALUE "CompanyName",    VER_COMPANYNAME_STR
			VALUE "FileVersion",    VER_FILEVERSION_STR
			VALUE "LegalCopyright", VER_LEGALCOPYRIGHT_STR
			VALUE "ProductName",    VER_PRODUCTNAME_STR
			VALUE "ProductVersion", VER_PRODUCTVERSION_STR
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0000, 0x04B0
	END
END
